/* Styles fuer index.php */

#username {
	
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
	font-size: 18px;
	height: 46px;
	
}

#password {
	
	margin-top: -1px;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
	font-size: 18px;
	height: 46px;
	
}

div.info a {

	text-decoration: underline;

}