ErrorDocument 401 /error.php?error=401
ErrorDocument 403 /error.php?error=403
ErrorDocument 404 /error.php?error=404

<Files "database.json">
    Order Allow,Deny
    Deny from all
</Files>
<Files "manifest.json">
    Header set Cache-Control "max-age=60"
</Files>

#@__HCP_END__@#
# Anything after the comment above is left alone

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php