body.stop-scrolling {

	height: 100%;
	overflow: hidden;
	
}

.dialog {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    animation-name: dialogAnimation;
	animation-duration: 0.2s;
    transition: opacity 0.2s;
    opacity: 0;
    
}

.dialogContent {

    background-color: white;
    border-radius: 15px;
    padding: 15px;
    max-width: 500px;
    width: 90%;
    max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
    animation-name: dialogContentAnimation;
	animation-duration: 0.3s;
	outline: none;
    position: relative;
    box-sizing: border-box;

}

.dialogBlocker {

	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
    z-index: 11;
    display: none;

}


.dialogContent.small {

	border-radius: 0px;

}

.dialog .info {

    width: 100%;

}


.dialog h2 {
	
	font-weight: bold;
	margin: 10px 10px;
	
}

.dialog img {
	
	width: 100px;
	height: 100px;
	
}

.dialogContent .description {
	
	font-size: 16px;
	margin: 16px 10px;
	
}

input.dialogInput[type="text"],
input.dialogInput[type="number"] {

	border: 1px solid rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    height: 50px;


}

@media (max-width: 455px) {

    .dialogContent {

        max-width: 100%;
        width: 100%;
        border-radius: 0px;
        animation-name: dialogContentAnimation_small;

    }

}








@keyframes dialogContentAnimation {
  
    0%   {transform: scale(0,0); opacity: 0;}
    80%  {transform: scale(1.1,1.1); opacity: 1;}
    100% {transform: scale(1,1); opacity: 1;}
    
}

@keyframes dialogContentAnimation_small {
  
    0%   {transform: translate(0px,100%); opacity: 0;}
    80%  {opacity: 1;}
    100% {transform: translate(0px,0%); opacity: 1;}
    
}
  
@keyframes dialogAnimation {

    from {background-color: rgba(0,0,0,0);}
    to {background-color: rgba(0,0,0,0.3);}

}


